<div class="container">
    <div class="row">
        <% @notes.each do |note| %>
                <% if note.note_type == 'quote'%>
                    <div class="quote card three columns">
                        <div class="quote-inner">
                            <div class="quote-body"><%= note.body %></div>
                            <div class="quote-source"> - <%= note.source %></div>
                        </div>
                    </div>
                <% elsif note.note_type == 'event' %>
                    <div class="event card three columns">
                        <div class="event-inner">
                            <div class="event-date"> <%= note.date.day %> <%= Date::MONTHNAMES[note.date.month].downcase %></div>
                            <div class="event-body"> <%= note.body %></div>
                        </div>
                    </div>
                
                <% elsif note.note_type == 'goal' %>
                    <div class="goal card three columns">
                        <div class="goal-inner">
                            <div class="goal-date"> <%= note.date.year %> </div>
                            <div class="goal-body"> Goal: <%= note.body %> </div>
                        </div>
                    </div>
                <% elsif note.note_type == 'diary' %>
                    <div class="diary card three columns">
                        <div class="diary-inner">
                            <div class="diary-date"><%= note.date %></div>
                            <div class="diary-body"> <%= note.body %></div>
                        </div>
                    </div>
                <% elsif note.note_type == 'idea' %>
                    <div class="idea card three columns">
                        <div class="idea-inner">
                            <div class="idea-icon"><%= image_tag("idea.svg", size: "35x35") %></div>
                            <div class="idea-body"> <%= note.body %> </div>
                        </div>
                    </div>
                <% elsif note.note_type == 'note' %>
                    <div class="note card three columns">
                        <div class="note-inner">
                            <div class="note-body"> <%= note.body %></div>
                        </div>
                    </div>

                <% elsif note.note_type == 'research' %>
                    <div class="research card three columns">
                        <div class="research-inner">
                            <div class="research-icon"><%= image_tag("thought.svg", size: "35x35") %></div>
                            <div class="research-body"> <%= note.body %> </div>
                        </div>
                    </div>

                <% elsif note.note_type == 'reference' %>
                    <div class="reference card three columns">
                        <div class="reference-inner">
                            <div class="reference-body"> <%= note.body %> </div>
                        </div>
                    </div>

                <% elsif note.note_type == 'principle' %>
                    <div class="principle card three columns">
                        <div class="principle-inner">
                            <div class="principle-title">LIFE PRINCIPLE</div>
                            <div class="principle-body"> <%= note.body %> </div>
                        </div>
                    </div>

                <% elsif note.note_type == 'todo_later' %>
                    <div class="todo card three columns">
                        <div class="todo-inner">
                            <input type="checkbox" id="checkbox<%= note.id %>" class="checkbox">
                            <label for="checkbox<%= note.id %>" class="todo-body"> <%= note.body %></label>
                        </div>
                    </div>
                <% elsif note.note_type == 'todo_soon' %>
                    <div class="todo urgent-todo card three columns">
                        <div class="todo-inner">
                            <input type="checkbox" id="checkbox<%= note.id %>" class="checkbox">
                            <label for="checkbox<%= note.id %>" class="todo-body"> <%= note.body %></label>
                        </div>
                    </div>
                <% end %>
        <% end %>
    </div>
</div>

<% 
=begin %>
 <script>
    $(".diary").on('click', function() {
        const currentDiary = $(this);
        $(this).find('.diary-inner').css('display', 'none');
        $(this).find('textarea').css('display', 'block');
    });
</script> 


Add this to below diary:
<textarea rows=5><%= note.body </textarea>  
=end %>