<!DOCTYPE html>
<html>
  <head>
    <title>Commonplace</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= image_url "favicon.png" %>" />
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet"> 
  </head>

   
  
  <body>
      <div class="outer-border">
            <div class="border top horizontal"></div>
            <div class="border bottom horizontal"></div>
            <div class="border right vertical"></div>
            <div class="border left vertical"></div>
      </div>
      <%# LEFT NAV BAR %>
      <label for="toggle-left-nav" id="toggle-left-label"><%= image_tag("menu.svg", size: "20x20") %></label>
      <input type="checkbox" id="toggle-left-nav">
      <aside class="left-bar">
        <ul class="left-nav-bar-list">
          <li class="left-nav-item"><a href="/" class="left-nav-item">HOME</a></li>
          <% if user_signed_in?  %>
            <li class="left-nav-item"><a href="/notes" class="left-nav-item">NOTES</a></li>
            <li class="left-nav-item"><a rel="nofollow" data-method="delete" href="/users/sign_out" class="left-nav-item">LEAVE</a></li> <%# MAY NEED TO MAKE THIS RESPONSIVE TO USER_SESSION %>
          <% end %>
        </ul>
      </aside>
      <%# NEW NOTE BAR %>
      <% if user_signed_in? %>
        <label for="toggle-new-note-bar" id="toggle-new-note-bar-label"><%= image_tag("new.svg", size: "20x20") %></label>
        <input type="checkbox" id="toggle-new-note-bar">
        <aside class="new-note-bar">
          <ul class="new-note-bar-list">
            <li class="new-note-bar-item"><a href="/notes/new?note_type=diary" class="new-note-bar-item">DIARY/</a></li>
            <li class="new-note-bar-item"><a href="/notes/new?note_type=event" class="new-note-bar-item">EVENT/</a></li>
            <li class="new-note-bar-item"><a href="/notes/new?note_type=goal" class="new-note-bar-item">GOAL/</a></li>
            <li class="new-note-bar-item"><a href="/notes/new?note_type=idea" class="new-note-bar-item">IDEA/</a></li>
            <li class="new-note-bar-item"><a href="/notes/new?note_type=todo_later" class="new-note-bar-item">TODO/</a></li>
            <li class="new-note-bar-item"><a href="/notes/new?note_type=todo_soon" class="new-note-bar-item" id="todo-soon">TODO</a></li>
            <li class="new-note-bar-item"><a href="/notes/new?note_type=note" class="new-note-bar-item">/NOTE/</a></li>
            <li class="new-note-bar-item"><a href="/notes/new?note_type=principle" class="new-note-bar-item">PRINCIPLE/</a></li>
            <li class="new-note-bar-item"><a href="/notes/new?note_type=quote" class="new-note-bar-item">QUOTE/</a></li>
            <li class="new-note-bar-item"><a href="/notes/new?note_type=reference" class="new-note-bar-item">REFERENCE/</a></li>
            <li class="new-note-bar-item"><a href="/notes/new?note_type=research" class="new-note-bar-item">RESEARCH</a></li>
          </ul>
        </aside>
        <%# FILTER NOTES BAR %>
        <label for="toggle-filter" id="toggle-filter-label"><%= image_tag("filter.svg", size: "20x20") %></label>
        <input type="checkbox" id="toggle-filter">
        <aside class="filter-bar">
          <ul class="filter-bar-list">
            <li class="filter-item"><a href="/notes" class="filter-item">ALL/</a></li>
            <li class="filter-item"><a href="/notes?note_type=diary" class="filter-item">DIARY/</a></li>
            <li class="filter-item"><a href="/notes?note_type=event" class="filter-item">EVENT/</a></li>
            <li class="filter-item"><a href="/notes?note_type=goal" class="filter-item">GOAL/</a></li>
            <li class="filter-item"><a href="/notes?note_type=idea" class="filter-item">IDEA/</a></li>
            <li class="filter-item"><a href="/notes?note_type=todo_later" class="filter-item">TODO/</a></li>
            <li class="filter-item"><a href="/notes?note_type=todo_soon" class="filter-item" id="todo-soon">TODO</a></li>
            <li class="filter-item"><a href="/notes?note_type=note" class="filter-item">/NOTE/</a></li>
            <li class="filter-item"><a href="/notes?note_type=principle" class="filter-item">PRINCIPLE/</a></li>
            <li class="filter-item"><a href="/notes?note_type=quote" class="filter-item">QUOTE/</a></li>
            <li class="filter-item"><a href="/notes?note_type=reference" class="filter-item">REFERENCE/</a></li>
            <li class="filter-item"><a href="/notes?note_type=research" class="filter-item">RESEARCH</a></li>
          </ul>
        </aside>
      <% end %>
      <div class="container">
      <%= yield %>
      </div>
  </body>   
</html>
